<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center">
			Add New Contact to <%= user.username %>
		</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/users/<%= user._id %>" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="contact[name]" placeholder="name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="contact[phonenumber]" placeholder="phonenumber">
				</div>
				<div class="form-group">
					<input class="form-control" type="email" name="contact[email]" placeholder="email">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-block btn-primary">
						Submit!
					</button>
				</div>
			</form>
			<a href="/users">Go Back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>